# 定义编码样式的文件格式和一组文本编辑器插件组成，这些插件使编辑器能够读取文件格式并遵循定义的样式

# 告诉EditorConfig插件，这是根文件，不用继续往上查找
root = true

charset = utf-8
# 缩进风格，可选"space"、"tab"
indent_style = space
# 缩进的空格数
indent_size = 4
# 结尾换行符，可选"lf"、"cr"、"crlf"
end_of_line = lf
# 在文件结尾插入新行
insert_final_newline = true
# 删除一行中的前后空格
trim_trailing_whitespace = true
